<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Summernote</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
</head>

<body>
    
    <nav class="navbar navbar-dark bg-light" style="background-color: #343a40!important;">
        <!-- Navbar summary -->
        <h3>
            <a href="/" id="home-links">The Business World
                <img src="/images/BW-logo.jpg" alt="Logo" style="width: 2%;" >
            </a>
        </h3>
    
        <div class="other-links">
            <a href="archives" id="pages-links">Archives</a>
            <a href="contactUs" id="pages-links">ContactUS</a>
            <a href="new" id="pages-links">NewBlog</a>
        </div>
    
    
        <a href="#" class="btn btn-primary btn-sm active logIn" role="button" aria-pressed="true" style="bottom: 33%; height: 46%;">
            <img src="/images/LogIn-icon.svg" class="logIn-icon" style="width: 20px; top: 12px;">
    
            <p style="font-size: 20px;">LogIn</p>
    
    
        </a>
    </nav>

    <div class="container">

        <center>
            <h1>
                <%= title %>
            </h1>
            <h4>Welcome to
                <%= title %>
            </h4>

        </center>

        <div class="row">

            <div class="col-xs-12 col-md-12 col-lg-12">

                <form  method="POST" >

                    <p> Author:<input type="text" name="author" value="<%=posts.author%>"></p>
                    <br>
                    <p>Image URL:<input type="text" name="image" value="<%=posts.image%>"></p>
                    <br>
                    <p> Date:<input type="date" name="date" value="<%=posts.date%>"></p>

                    <br><p>Time:<input type="time" name="time" value="<%=posts.time%>"></p>
                    <br>

                    <textarea id="summernote" name="content">
                        <%=posts.content%>
                       </textarea>

                    <button type="submit" class="btn">submit</button>
            
                </form>

            </div>
        </div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script>
        $('#summernote').summernote({
            placeholder: 'Hello bootstrap 4',
            height: 300,
            width: 600
        })

    </script>
</body>

</html>